
/* set the background color of journal entries */
.block-impact--note-journalentry {
  background-color: #4b4b4b;
}


.journalentry-container{
    margin-left: 8.33%;
    width: 83.333%
}

.journalentry-prompt {
  color:white !important;
}

.journalentry-prompt strong {
    font-weight: bold;
}

.journalentry-response {
    width:100%;
    height:5em;
}

.journalbuttons-container{
  text-align: center;
}

.journalprintbutton {
  padding: 5px 10px;
  background-color: black;
  display: inline-block;
  margin-bottom: 15px;
  color: white;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.journalprintbutton:hover {
  opacity:.7;
  cursor:pointer;
}
